body {
    margin:0;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.steps {
    padding: 50px;
    background-color: #ccc;
    justify-content: space-between;
    align-items: center;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.step-icon {
    height: 100px;
    width: 100px;
    border: 1px solid #000;
    border-radius: 50%;
}